:root {
  --ifm-color-primary: #423da8;
  --ifm-color-primary-dark: #33316e;
  --ifm-color-primary-darker: #302e68;
  --ifm-color-primary-darkest: #282655;
  --ifm-color-primary-light: #3f3b86;
  --ifm-color-primary-lighter: #423e8c;
  --ifm-color-primary-lightest: #4a469f;
  --ifm-navbar-background-color: rgba(255,255,255,.5);
  --ifm-color-content: var(--ifm-color-emphasis-800);
}

[data-theme='dark'] {
  --ifm-color-primary: #c0bfe3;
  --ifm-color-primary-dark: #a3a2d6;
  --ifm-color-primary-darker: #9593d0;
  --ifm-color-primary-darkest: #6a68bd;
  --ifm-color-primary-light: #dddcf0;
  --ifm-color-primary-lighter: #ebebf6;
  --ifm-color-primary-lightest: #ffffff;
  --ifm-navbar-background-color: rgba(59,56,129,.6);
  --ifm-color-content: var(--ifm-color-emphasis-800);
}

.hint{
  padding: 16px;
  border-left: 3px solid;
  padding-left: 20px;
  margin: 20px 0;
}

.hint-info {
  background-color: var(--ifm-color-primary-contrast-background);
  border-color: var(--ifm-color-primary-light);
}

.hint-success {
  background-color: var(--ifm-color-success-contrast-background);
  border-color: var(--ifm-color-success-light);
}

.hint-warning {
  background-color: var(--ifm-color-warning-contrast-background);
  border-color: var(--ifm-color-warning-light);
}


.hint-danger {
  background-color: var(--ifm-color-danger-contrast-background);
  border-color: var(--ifm-color-danger-light);
}


.navbar{
  backdrop-filter: blur(10px);

}

.navbar-sidebar{
  height: 100vh;
  background: var(--ifm-background-surface-color);
}

.navbar-sidebar__backdrop{
  height: 100vh;
}

.menu__link--active{
  font-weight: bolder;
}

.video-box{
  font-size: 13px;
  color: var(--ifm-color-primary-light);
}

.video-box video{
  max-width: 100%;
  padding: 10px 0;
  padding: 0;
  margin: 0;
}

.video-box p{
  font-size: 13px;
  margin: 0;
  color: var(--ifm-color-primary-light);
}

.video-box .bilibili-video{
  width: 100%;
  height: 300px;
  margin: 1em 0;
  display: block;
}

.figure-list{
display: flex;
}

.img-desc{
  font-size: 13px;
  display: block;
  margin-top: -1em;
  margin-bottom: 1em;
  color: var(--ifm-color-primary-light);
}

.file-box{
  --ifm-code-background: var(--ifm-alert-background-color-highlight);
  --ifm-link-color: var(--ifm-alert-foreground-color);
  --ifm-link-hover-color: var(--ifm-alert-foreground-color);
  --ifm-link-decoration: underline;
  --ifm-tabs-color: var(--ifm-alert-foreground-color);
  --ifm-tabs-color-active: var(--ifm-alert-foreground-color);
  --ifm-tabs-color-active-border: var(--ifm-alert-border-color);
  --ifm-alert-background-color: var(--ifm-color-info-contrast-background);
  --ifm-alert-background-color-highlight: rgba(84, 199, 236, 0.15);
  --ifm-alert-foreground-color: var(--ifm-color-info-contrast-foreground);
  --ifm-alert-border-color: var(--ifm-color-info-dark);
  background-color: var(--ifm-alert-background-color);
  border-radius: var(--ifm-alert-border-radius);
  box-shadow: var(--ifm-alert-shadow);
  color: var(--ifm-alert-foreground-color);
  padding: var(--ifm-alert-padding-vertical) var(--ifm-alert-padding-horizontal);
  margin: 1em 0;
}
