/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */


.hint{
  padding: 16px;
  border-left: 3px solid;
  padding-left: 20px;
}

.hint-info {
  background-color: var(--ifm-color-primary-contrast-background);
  border-color: var(--ifm-color-primary-light);
}

.hint-success {
  background-color: var(--ifm-color-success-contrast-background);
  border-color: var(--ifm-color-success-light);
}

.hint-warning {
  background-color: var(--ifm-color-warning-contrast-background);
  border-color: var(--ifm-color-warning-light);
}


.hint-danger {
  background-color: var(--ifm-color-danger-contrast-background);
  border-color: var(--ifm-color-danger-light);
}
